<!-- <ion-header>
  <ion-toolbar>
    <ion-title>terms-condition</ion-title>
  </ion-toolbar>
</ion-header> -->

<div class="ion-padding">
  <b>Terms & Conditions</b>
</div>

<ion-content class="ion-padding">
  <ol>
    <li>
      Citi Junction shall not be liable for taste and quality of food.
    </li>
    <li>
      Citi Junction shall not be liable for worng food by restaurant.
    </li>
    <li>
      Citi Junction shall not be liable for time taken to prepare the order.
    </li>
    <li>
      Delivery time may vary depending on rush hour, traffic jam, weather dependant elements.
    </li>
    <li>
      Citi Junction is not liable to deliver at wrong adresses.
    </li>
    <li>
      Customer can not resell food purchased from Citi Junction.
    </li>
    <li>
      Product price and delivery fee are in sole discretion of Citi Junction. They may vary.
    </li>
  </ol>
</ion-content>