ion-content {
    --background: #eeeeee;
}
.logo {
    max-width: 100px;
    min-width: 20%;
    margin: 0 auto;
    display: block;
    padding-top: 30px;
}
.welcome-text {
    font-weight: bold;
    font-size: 18px;
}
.cj-title {
    font-weight: bold;
    font-size: 28px;
}
.input-field {
    background: #ccc
}