.cart-item-number {
    ion-button:nth-of-type(1) {
        --background: #fc4545;
        --color: #fff
    }
    ion-button:nth-of-type(3) {
        --background: #3ee09d;
        --color: #fff
    }
    ion-button:nth-of-type(2) {
        width: 26px;
        --background: #eee;
    }
    ion-button {
        height: 24px;
    }
}

ion-list {
    ion-item:last-of-type {
        --border-width: 0
    }
}
.bill-details {
    background: #fff;
}
.address-title {
    font-size: 16px;
    color: #222222;
    font-weight: bold;
}