<ion-content class="ion-padding">
  <div><b>Refund Policy:</b></div>
  <div class="pt-2 pb-2">
    A refund will be initiated in following cases:
  </div>
  <ul>
    <li>
      The order packaging has been tampered or damaged at time of delivery
    </li>
    <li>
      The user cancel the order due to various resons before restaurant confirms.
    </li>
    <li>
      Various internal problems like problems in vehicle.
    </li>
    <li>
      Failure to contact you by phone at the time of delivery.
    </li>
    <li>
      The decision on refunds shall be at the sole discretion of Citi Junction.
    </li>
  </ul>
  <div class="pt-2 pb-3">
    All refund amounts shall be credited to your account with in specified time in accordance with the terms that
    may
    be the bank which has issued the credit/debit card.
  </div>
</ion-content>