<!-- <ion-header>
  <ion-toolbar>
    <ion-title>privacy-policy</ion-title>
  </ion-toolbar>
</ion-header> -->

<div class="ion-padding">
  <b>Privacy Policy</b>
</div>

<ion-content class="ion-padding">
  <ul>
    <li class="mt-2">
      Our app does not have any harmful content for any age.
    </li>

    <li class="mt-2">
      We do not collect any sensitive information.
    </li>

    <li class="mt-3">
      We ask for your location to deliver products and services, otherwise we can not operate.
    </li>

    <li class="mt-3">
      We do not use any cookies or other trackers as such as of now. Authentication works through basic login.
    </li>

    <li class="mt-3">
      We do not show any adverts in our site or app. We focus on sales only.
    </li>

    <li class="mt-3">
      Before collecting location data, we ask for your permision. Once you feel you do not want to share, you can go to
      device app settings and opt out. But better would be you uninstall or opt-out of our services as we need that info
      to serve you, otherwise we can't.
    </li>

    <li class="mt-3">
      If you need to delete your data from our server, kindly contact and we will delete. We do not provide the data
      back.
    </li>

    <li class="mt-3">
      For any query or problem related to privacy or services, kindly contact sindbaadtech@gmail.com.
    </li>
  </ul>

</ion-content>