<ion-header>
  <ion-toolbar [hidden]="isOrderSuccess" color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/orders'></ion-back-button>
    </ion-buttons>
    <ion-title>
      Order - {{orderId}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isOrderSuccess" class="success-area w-100">
    <img class="w-100" src="assets/images/order-success.gif" alt="">
    <div class="ion-text-center success-text">
      Order Successful!
    </div>
  </div>

  <div class="order-details" *ngIf="!isOrderSuccess">
    <div *ngIf="!order" class="loader-container">
      <div class="loader">
        <ion-spinner></ion-spinner>
      </div>
    </div>

    <ng-container *ngIf="order">
      <app-food-order-progress [order]="order"></app-food-order-progress>
      <app-food-order-listing [order]="order"></app-food-order-listing>
      <div class="ion-padding">
        <ion-text color="medium">Ordered From:</ion-text> {{order.orderDetail.restaurant.name}}
      </div>
      <div class="ion-padding">
        <ion-text color="medium">Billing Amount:</ion-text> {{currency + order.amount}} <ion-text color="success">Paid
        </ion-text>
      </div>
      <ion-card class="delivery-info ion-padding mt-2" lines="none" *ngIf="order.deliveryAgent && order.deliveryAgent.name && order.orderStatus != orderStatusEnum.preparingFood">
        <ion-grid>
          <ion-row>
            <ion-col size='auto' class="ion-align-self-center">
              <ion-icon class="mr-2 align-icon" src="assets/home-icons/delivery.svg"></ion-icon>
            </ion-col>
            <ion-col class="ion-align-self-center">{{order.deliveryAgent.name}}</ion-col>
            <ion-col size='auto' class="ion-align-self-center">
              <a [href]="'tel:' + order.deliveryAgent.phone">
                <ion-icon class="ml-2 align-icon" color='success' name="call"></ion-icon>
              </a>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ng-container>
  </div>
</ion-content>