.restaurant-cart-icon {
    font-size: 26px;
    vertical-align: middle;
}
.food-categories {
    border-radius: 5px;
}
ion-slide {
    display: block;
}
.category-highlighter {
    border-radius: 50%;
    background: var(--ion-color-success);
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-6px);
    font-size: 12px;
    padding: 1px;
}
.restaurant-img {
    width: 20%;
    position: relative;
    img {
        border-radius: 3px;
    }
}
.not-available {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.6);
    z-index: 9999;
    border-radius: 3px;
}
.retaurant-detail-text {
    line-height: 19px;
}
.restaurant-categories {
    white-space: normal;
}
.restaurant-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}