/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins';
}
.normal-font {
    font-size: unset;
}
.large-font {
    font-size: large !important;
}
.small-font {
    font-size: small !important;
}
.align-icon {
    vertical-align: middle;
}
.no-display {
    display: none;
}
.hover-cursor {
    cursor: pointer;
}
.no-ion-margin-top {
    margin-top: 0 !important;
}
.no-ion-margin-right {
    margin-right: 0 !important;
}
.no-ion-margin-bottom {
    margin-bottom: 0 !important;
}
.no-ion-margin-left {
    margin-left: 0 !important;
}
.small-logo {
    width: 40px;
    margin: auto 16px;
}
.small-header-search.ios {
    padding: 0 !important
}
.cart-icon {
    // font-size: 26px;
}
.position-relative {
    position: relative;
}
.cart-count {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 18px;
}
.cart-icon-container {
    padding: 10px;
    border-radius: 50%;
    margin: auto 0;
}
.page-menu-icons {
    font-size: 44px
}
.info-icon {
    font-size: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
ion-button {
    text-transform: capitalize;
}