<ion-header *ngIf="widthService.screenWidth < 768">
  <ion-toolbar color=light>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="danger">
        <a href="tel:+918478093903" style="text-decoration: none">
          Contact CJ
        </a>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="mt-3" lines="none">
    <ion-item>
      <ion-text color="women">Name: </ion-text> &nbsp; {{authService.user.name}}
    </ion-item>
    <ion-item>
      <ion-text color="women">Email: </ion-text> &nbsp; {{authService.user.email}}
    </ion-item>
    <ion-item>
      <ion-text color="women">Phone: </ion-text> &nbsp; {{authService.user.phone}}
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <ion-button class="mt-3" (click)="logout()" color="mat-blue">Logout</ion-button>
  </div>
</ion-content>

<ion-footer *ngIf="initializeService.currentAppVersion">
  <ion-toolbar class="ion-padding-start ion-padding-end">Version: {{initializeService.currentAppVersion}}</ion-toolbar>
</ion-footer>